<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.lolez.dto.MemberDto" alias="member" />
		<typeAlias type="com.lolez.dto.BoardDto" alias="board" />
		<typeAlias type="com.lolez.dto.BoardLikeDto" alias="boardlike" />
		<typeAlias type="com.lolez.dto.ReplyDto" alias="reply" />
		<typeAlias type="com.lolez.dto.ReplyLikeDto" alias="replylike" />
		<typeAlias type="com.lolez.dto.EmailDto" alias="email" />
		<typeAlias type="com.lolez.dto.ProusersDto" alias="pros" />
		<typeAlias type="com.lolez.Summonerdto.SummonerDto" alias="summoner" />
		<typeAlias type="com.lolez.Leaguedto.LeagueEntryDto" alias="league" />
		<typeAlias type="com.lolez.Leaguedto.MiniSeriesDto" alias="mini" />
		<typeAlias type="com.lolez.Matchdto.MetadataDto" alias="metadata" />
		<typeAlias type="com.lolez.Matchdto.InfoDto" alias="info" />
		<typeAlias type="com.lolez.Matchdto.ParticipantDto" alias="part" />
		<typeAlias type="com.lolez.Matchdto.PerkStatsDto" alias="perkstats" />
		<typeAlias type="com.lolez.Matchdto.PerkStyleDto" alias="perkstyle" />
		<typeAlias type="com.lolez.Matchdto.PerkStyleSelectionDto" alias="perkstyleselect" />
		<typeAlias type="com.lolez.Matchdto.TeamDto" alias="team" />
		<typeAlias type="com.lolez.Matchdto.BanDto" alias="ban" />
		<typeAlias type="com.lolez.Matchdto.ObjectiveDto" alias="obj" />
	</typeAliases>


	<mappers>
		<mapper resource="mapper/member/memberMapper.xml" />
		<mapper resource="mapper/board/boardMapper.xml" />
		<mapper resource="mapper/email/emailMapper.xml" />
		<mapper resource="mapper/summoner/summonerMapper.xml" />
		<mapper resource="mapper/league/leagueMapper.xml" />
		<mapper resource="mapper/match/matchMapper.xml" />
		<mapper resource="mapper/spectator/spectatorMapper.xml" />
	</mappers>
</configuration>