/* -----------------------레코드 클래스 제작  부분----------------------------- */
.classOfHtml{
	background-color: var(--gray200);
}


.css-150oaqg {
	display: inline-block;
	width: 740px;
	margin-top: 8px;
	margin-left: 8px;
	font-size: 12px;
	vertical-align: top;
}

.css-150oaqg .loading {
	padding: 150px 0;
	text-align: center;
}

.css-150oaqg .no-data {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 96px 0 40px;
	text-align: center;
	background-image:
		url(https://s-lol-web.op.gg/images/icon/icon-nodata.svg);
	-webkit-background-position: 50% 40px;
	background-position: 50% 40px;
	background-repeat: no-repeat;
	background-color: #FFF;
	background-color: var(--gray0);
	font-size: 14px;
	color: #9AA4AF;
	color: var(--gray400);
}

[data-theme="dark"] .css-150oaqg .no-data {
	background-image:
		url(https://s-lol-web.op.gg/images/icon/icon-nodata-dark.svg);
}

.css-150oaqg .more {
	border: 1px solid;
	border-color: #DBE0E4;
	border-color: var(--gray250);
	background-color: #FFF;
	background-color: var(--gray0);
	border-radius: 4px;
	display: block;
	width: 100%;
	height: 40px;
	padding: 8px 0;
	color: #202D37;
	color: var(--gray900);
	font-size: 13px;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	box-sizing: border-box;
}

.css-150oaqg .more span {
	vertical-align: middle;
}

#recode {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.css-158fcuv {
	position: relative;
	background-color: #fff;
}

.css-1b3kvro {
	position: relative;
	z-index: 2;
}

.wrapper {
	position: relative;
	z-index: 2;
	display: flex;
	width: 1080px;
	margin: 0px auto;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.wrapper .header-profile-info {
	padding: 10px 10px 16px 0px;
	display: flex;
	flex: 1 1 0%;
	box-sizing: border-box;
}

.profile-icon {
	margin-top: 20px;
	position: relative;
	width: 100px;
	height: 100px;
	flex-basis: 100px;
}

.profile-icon img {
	border-radius: 20px;
}

img {
	border: 0px;
	vertical-align: middle;
	max-width: 100%;
}

.profile-icon img {
	border-radius: 20px;
}

.profile-icon div.level {
	height: 20px;
	margin-top: -11px;
	text-align: center;
}

.profile-icon div.level span.level {
	display: inline-block;
	line-height: 20px;
	padding: 0px 8px;
	font-size: 12px;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	background-color: rgb(32, 45, 55);
	font-family: Roboto, sans-serif;
}

.header-profile-info .info {
	margin-top : 30px;
	flex: 1 1 0%;
	margin-left: 24px;
	box-sizing: border-box;
}

.header-profile-info .info>.name {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	height: 32px;
	font-size: 24px;
	font-weight: bold;
	color: var(--gray900);
}

.header-profile-info .info>.name .summoner-name {
	margin-right: 8px;
	font-size: 24px;
}

.header-profile-info .info>.team-and-rank {
	display: flex;
	line-height: 16px;
	margin-top: 6px;
	color: var(--gray500);
	font-size: 12px;
}

.header-profile-info .info>.buttons {
	display: flex;
	margin-top: 8px;
}

.header-profile-info .info>.buttons button {
	padding: 0px 14px;
	border-radius: 4px;
	font-size: 14px;
	margin-right: 8px;
	height: 40px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.css-4e9tnt {
	position: relative;
	border: var(--main500);
	background: var(--main500);
	color: rgb(255, 255, 255);
}

.css-6naflr {
	border-width: 1px;
	border-style: solid;
	border-image: initial;
	border-color: var(--main400);
	color: var(--main600);
	background-color: var(--gray0);
}

.header-profile-info .info>.last-update {
	margin-top: 8px;
	font-size: 12px;
	color: var(--gray400);
	width: max-content;
}

.css-19oge0q {
	position: relative;
	z-index: 2;
	padding: 4px 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: var(--gray200);
}

.css-19oge0q ul {
	position: relative;
	display: flex;
	width: 1080px;
	height: 36px;
	margin: 0px auto;
	padding: 0px;
	font-size: 0px;
}

caption, .hidden {
	clip: rect(0px, 0px, 0px, 0px);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.css-46wmcb {
	display: block;
	min-width: 60px;
	height: 36px;
	line-height: 36px;
	padding: 0px 16px;
	margin-right: 4px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	background-color: rgb(236, 242, 255);
	color: rgb(65, 113, 214);
}

.css-cjro43 {
	display: block;
	min-width: 60px;
	height: 36px;
	line-height: 36px;
	padding: 0px 16px;
	margin-right: 4px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: var(--gray900);
}

.css-jnm0r8 {
	color: var(--teal600);
	position: relative;
	display: block;
	border-radius: 4px;
	min-width: 60px;
	height: 36px;
	padding: 0px 16px;
	font-size: 14px;
	line-height: 36px;
	text-decoration: none;
	text-align: center;
}


.css-8whjbz>div:nth-of-type(1) {
	display: inline-block;
	width: 332px;
	font-size: 12px;
	vertical-align: top;
	min-height: 870px;
}
/* 레코드 헤더 부분 클래스 마침 --------------------------------------*/

/* 레코드 컨텐츠 부분 클래스 시작------------------------------------- */
.css-8whjbz {
	width: 1090px;
	margin: 0px auto;
}

.css-8whjbz>div:nth-of-type(1) {
	display: inline-block;
	width: 332px;
	font-size: 12px;
	vertical-align: top;
	min-height: 870px;
}

/* 솔로랭크  시작---------- */
.css-1v663t {
	margin-top: 8px;
	border-radius: 4px;
	background-color: var(--gray0);
}

.css-1v663t .header {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	line-height: 35px;
	padding: 0px 12px;
	font-size: 14px;
	color: var(--gray900);
}

.css-1v663t>.contents {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: var(--gray200);
}

.css-1v663t>.contents img {
	background-color: var(--gray100);
	border-radius: 50%;
}

.css-1v663t>.contents .info {
	flex: 1 1 0%;
	position: relative;
	margin-left: 16px;
}

.css-1v663t>.contents .info .tier {
	line-height: 26px;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--gray900);
	font-family: Roboto, sans-serif;
}

.css-1v663t>.contents .info .tier {
	line-height: 26px;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	color: var(--gray900);
	font-family: Roboto, sans-serif;
}

.css-1v663t>.contents .win-lose-container {
	font-size: 12px;
	text-align: right;
	color: var(--gray400);
}

.css-1v663t>.contents .win-lose-container .win-lose {
	line-height: 26px;
}

.css-1v663t>.contents .win-lose-container {
	font-size: 12px;
	text-align: right;
	color: var(--gray400);
}

.css-1v663t>.contents .win-lose-container .ratio {
	margin-top: 2px;
	line-height: 16px;
}

.css-1v663t>.contents .win-lose-container {
	font-size: 12px;
	text-align: right;
	color: var(--gray400);
}
/* 솔로랭크  끝---------- */

/* 자유랭크 시작 -----------------*/
.css-1474l3c {
	margin-top: 8px;
	border-radius: 4px;
	background-color: var(--gray0);
}

.css-1474l3c .header {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	line-height: 35px;
	padding: 0px 12px;
	font-size: 14px;
	color: var(--gray900);
}

.css-1474l3c > .contents {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: var(--gray200);
}

.css-1474l3c > .contents .info {
    flex: 1 1 0%;
    position: relative;
    margin-left: 8px;
}

.css-1474l3c > .contents .info .tier {
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--gray900);
    font-family: Roboto, sans-serif;
}

.css-1474l3c > .contents .info .lp {
    line-height: 16px;
    font-size: 12px;
    color: var(--gray500);
    font-family: Roboto, sans-serif;
}

.css-1474l3c > .contents .win-lose-container {
    font-size: 12px;
    text-align: right;
    color: var(--gray400);
}

.css-1474l3c > .contents img {
    background-color: var(--gray100);
    border-radius: 50%;
}

.css-1474l3c > .contents .win-lose-container .win-lose {
    line-height: 20px;
}

.css-1474l3c > .contents .win-lose-container .ratio {
    margin-top: 2px;
    line-height: 16px;
}

/* 자유랭크 끝 -----------------*/

.css-1474l3c .header .unranked { /* 언랭크드 부분 */
	font-size: 14px;
	font-weight: bold;
	color: var(--gray300);
	font-family: Roboto, sans-serif;
}

/* 시즌 전체 / 솔로랭크 / 자유랭크  시작 부분--------------*/
.css-e9xk5o { /* 통계에서도 사용됨  */
	margin-top: 8px;
	background-color: var(--gray0);
	border-radius: 4px;
	overflow: hidden;
}

.css-e9xk5o>ul {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: var(--gray200);
}

.css-1lteyi9:nth-of-type(1) {
	margin-left: 0px;
}

.css-1lteyi9 { /* 클릭되어 선택된 경우 사용됨 */
	flex: 1 1 0%;
	margin-left: 4px;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	background-color: rgb(236, 242, 255);
	color: rgb(65, 113, 214);
}

.css-1lteyi9 button {
	display: block;
	width: 100%;
	color: inherit;
	padding: 4px 0px;
	font-size: 14px;
	height: 28px;
	box-sizing: border-box;
	font-weight: bold;
}

.css-s6qg8 { /*  클릭이 안되어 있을때 사용됨 */
	flex: 1 1 0%;
	margin-left: 4px;
	vertical-align: middle;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	background-color: var(--gray0);
	color: var(--gray900);
}

.css-s6qg8 button {
	display: block;
	width: 100%;
	color: inherit;
	padding: 4px 0px;
	font-size: 14px;
	height: 28px;
	box-sizing: border-box;
	font-weight: normal;
}
/* 시즌 전체 / 솔로랭크 / 자유랭크  종료 부분--------------*/

/* 챔피언 평점 승률 등 플레이한 챔피언의 통계 시작 부분 ----------------*/
.css-e9xk5o>div .champion-box {
	display: table;
	width: 100%;
	height: 48px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: var(--gray200);
	color: var(--gray400);
	text-align: center;
	table-layout: fixed;
}

.css-e9xk5o>div .champion-box .face { /* 챔피언 사진부분  */
	display: table-cell;
	width: 44px;
	text-align: right;
	vertical-align: middle;
}

.css-e9xk5o>div .champion-box .face>a { /* 챔피언 사진 크기  */
	display: inline-block;
	width: 32px;
	height: 32px;
}

.css-e9xk5o>div .champion-box .info { /* 챔피언 이름 및 cs 능력 부분 */
	display: table-cell;
	width: 100px;
	text-align: left;
	vertical-align: middle;
	padding-left: 8px;
	box-sizing: border-box;
}

.css-e9xk5o>div .champion-box .info .name { /* 챔피언 이름 부분1 */
	color: var(--gray900);
	font-weight: bold;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.css-e9xk5o>div .champion-box .info .name a { /* 챔피언 이름 부분2 */
	color: inherit;
	text-decoration: none;
}

.css-e9xk5o>div .champion-box .info .cs { /* cs 표기 부분 */
	margin-top: 2px;
	font-size: 11px;
	white-space: nowrap;
}

.css-e9xk5o>div .champion-box .kda { /* kda 시작 부분 */
	display: table-cell;
	width: 100px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
}

.css-954ezp { /* 2.72:1 의 형태의 평점 부분  */
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
	color: var(--gray500);
}

.css-e9xk5o>div .champion-box .kda .detail { /*  평점 디테일부분 */
	margin-top: 2px;
	font-size: 11px;
	white-space: nowrap;
	font-family: Roboto, sans-serif;
}

.css-e9xk5o>div .champion-box .played { /* 승률 부분 */
	display: table-cell;
	width: 88px;
	vertical-align: middle;
	text-align: center;
	padding-right: 12px;
	box-sizing: border-box;
}

.css-b0uosc { /* 승률 표시 부분 */
	line-height: 15px;
	font-size: 12px;
	color: var(--red600);
	font-family: Roboto, sans-serif;
	text-align: right;
}



.css-10uuukx { /* 가장 높은 평점*/
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    color: var(--blue500);
}

.css-1w55eix {/* 높은 평점 */
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    color: var(--teal500);
}

.css-b0uosc {/* 60% 이상의 승률을 가졌을 경우 */
    line-height: 15px;
    font-size: 12px;
    color: var(--red600);
    font-family: Roboto, sans-serif;
    text-align: right;
}

.css-1nuoroq {/* 평균 승률 */
    line-height: 15px;
    font-size: 12px;
    color: var(--gray500);
    font-family: Roboto, sans-serif;
    text-align: right;
}
.css-e9xk5o>div .champion-box .played .count {
	/* 이 챔피언으로 플레이한 게임 판 수 부분 */
	margin-top: 2px;
	font-size: 11px;
	white-space: nowrap;
	text-align: right;
}

/* 챔피언 평점 승률 등 플레이한 챔피언의 통계 종료 부분 ----------------*/

/* 챔피언 평점 승률 등 플레이한 챔피언의 통계 더보기 시작 부분 ----------------*/
.css-e9xk5o>div .more {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	text-decoration: none;
	padding: 8px 0px;
	font-size: 12px;
	text-align: center;
	background-color: var(--gray100);
	color: var(--gray500);
	box-sizing: border-box;
}
/* 챔피언 평점 승률 등 플레이한 챔피언의 통계 더보기 종료 부분 ----------------*/

/* 최근 7일간 승률확인  시작 부분 ----------------*/
.css-k5hsyz { /* 틀 div 부분 */
    margin-top: 8px;
    background-color: #FFF;
    background-color: var(--gray0);
    border-radius: 4px;
}





.css-k5hsyz > .header {
    display: flex;
    line-height: 30px;
    padding: 0px 12px;
    background-color: var(--gray100);
    font-size: 12px;
    color: var(--gray400);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--gray200);
}
.css-k5hsyz > .title {/* 최근 7일간 랭크 승률 제목 클래스 */
    position: relative;
    display: block;
    line-height: 20px;
    padding: 8px 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--gray200);
    color: var(--gray900);
    font-size: 14px;
}

.css-k5hsyz > .header div:nth-of-type(1) {
    width: 152px;
}

.css-k5hsyz>.header div:nth-of-type(2) {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.css-k5hsyz>ul li {
    display: table;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #ebeef1;
    border-color: var(--gray200);
    color: #202D37;
    color: var(--gray900);
    text-align: center;
    font-size: 12px;
    table-layout: fixed;
}
.css-k5hsyz>ul li .face { /* 챔프 칸 크기 및 위치 조절 */
    display: table-cell;
    width: 36px;
    text-align: right;
    vertical-align: middle;
}
.css-k5hsyz>ul li .face img { /* 사진 크기 조절 */
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.css-k5hsyz>ul li .info { /* 해당하는 챔프이름칸의 전체 칸 크기 조절 */
    display: table-cell;
    width: 108px;
    text-align: left;
    vertical-align: middle;
}
.css-k5hsyz > ul li .info .name {
    width: 100%;
    margin-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
}

.css-k5hsyz>ul li .info .name a {
    color: #202D37;
    color: var(--gray900);
}


.css-k5hsyz > ul li .graph {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    padding-left: 20px;
}

.css-16uc0vq { /* 승리만 했을시 */
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    vertical-align: middle;
    border-radius: 3px;
    overflow: hidden;
}


.css-16uc0vq .text {
    position: absolute;
    top: 3px;
    font-size: 11px;
    color: rgb(242, 242, 242);
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-16uc0vq .fill.left {
    background: var(--main500);
}

.css-16uc0vq .fill {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.css-16uc0vq .text.left {
    display: block;
    left: 4px;
}
.css-16uc0vq .text.right {
    display: none;
    right: 4px;
}

.css-16uc0vq .fill.right {
    background: var(--red500);
}



.css-uz18fj { /* 승패가 있을시 */
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    vertical-align: middle;
    border-radius: 3px;
    overflow: hidden;
}
.css-uz18fj .text {
    position: absolute;
    top: 3px;
    font-size: 11px;
    color: rgb(242, 242, 242);
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-uz18fj .fill.left {
    background: var(--main500);
}
.css-uz18fj .fill.right {
    background: var(--red500);
}
.css-uz18fj .fill {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.css-uz18fj .text.left {
    display: block;
    left: 4px;
}
.css-uz18fj .text.right {
    display: block;
    right: 4px;
}


.css-k5hsyz > ul li .winratio {
    display: table-cell;
    width: 43px;
    vertical-align: middle;
    color: var(--gray500);
}



.css-z219cj {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    vertical-align: middle;
    border-radius: 3px;
    overflow: hidden;
}

.css-z219cj .fill.left {
    background: var(--main500);
}

.css-z219cj .fill.right {
    background: var(--red500);
}

.css-z219cj .fill {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.css-z219cj .text.left {
    display: none;
    left: 4px;
}
.css-z219cj .text.right {
    display: block;
    right: 4px;
}


.css-z219cj .text {
    position: absolute;
    top: 3px;
    font-size: 11px;
    color: rgb(242, 242, 242);
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* 최근 7일간 승률확인  종료 부분 ----------------*/

/* 같은 팀으로 게임한 소환사 시작 부분 ----------------*/
.css-ut2tyh {
	margin-top: 8px;
	background: var(--gray0);
	border-radius: 4px;
}

.css-ut2tyh>div { /* 타이틀부분 */
	position: relative;
	display: block;
	line-height: 20px;
	padding: 8px 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: var(--gray200);
	color: var(--gray900);
	font-size: 14px;
	text-decoration: none;
}

.css-ut2tyh>table {
	width: 100%;
	table-layout: fixed;
}

css-ut2tyh>table thead th.name { /* 소환사 이름 부분 */
	padding-left: 12px;
	text-align: left;
}

.css-ut2tyh>table thead th { /* 소환사 게임 승-패 승률 에 사용되는 태그들 부분 */
	padding: 9px 0px;
	background-color: var(--gray100);
	color: var(--gray400);
	font-weight: normal;
	font-size: 12px;
}

.css-ut2tyh>table thead th.winratio { /* 승률 부분 */
	padding-right: 12px;
	text-align: right;
}

.css-ut2tyh>table tbody tr { /* 해당 되는 유저 리스트 부분 */
	border-top-width: 1px;
	border-top-style: solid;
	border-color: var(--gray200);
}

.css-ut2tyh>table tbody tr td.name { /* 소환사 이름 부분 */
	text-align: left;
	padding-left: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.css-ut2tyh>table tbody tr td { /* tbody 에 해당되는 태그들 정의 */
	padding: 4px 0px;
	color: var(--gray500);
	font-size: 12px;
	text-align: center;
}

.css-ut2tyh>table tbody tr td.name a { /* 이름 택스트 색 밑 크기 부분 */
	color: var(--gray900);
	font-size: 12px;
	text-decoration: none;
}

.css-ut2tyh>table tbody tr td+td {
	font-family: Roboto, sans-serif;
} /* 게임 판 수 해당 부분 + 승패 부분 */
.css-ut2tyh>table tbody tr td.winratio {
	padding-right: 12px;
	text-align: right;
}
/* 같은 팀으로 게임한 소환사 종료 부분 ----------------*/

/* 상세 전적 표시 부분 -메인- 시작 ---------------------------------------*/
.css-150oaqg { /* 전체 틀 클래스 */
	display: inline-block;
	width: 740px;
	margin-top: 8px;
	margin-left: 8px;
	font-size: 12px;
	vertical-align: top;
}

/* 메인 부분 최 상단 bar 전체 솔로랭크 자유랭크 큐타입 메뉴 챔피언 검색 부분 */
.css-jizu2z {
	position: relative;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 4px;
	background-color: var(--gray0);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: var(--gray200);
}

.css-jizu2z>ul { /* 위 클래스 소속 ul 태그 */
	display: flex;
	height: 28px;
}

.hidden {
    position: absolute;
}
label {
    cursor: pointer;
}


.css-1oynv5f { /* 선택되지 않았을때의 클래스부분 */
	margin-left: 4px;
	vertical-align: top;
}

.css-1oynv5f button { /* 선택되지 않은 버튼 색상 처리 클래스 */
	display: block;
	padding: 4px 12px;
	border-radius: 4px;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	background-image: initial;
	background-position: initial;
	background-size: initial;
	background-repeat: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: var(--gray0);
	color: var(--gray900);
	box-sizing: border-box;
	height: 28px;
}

.css-ywzb36 {
	margin-left: 4px;
	vertical-align: top;
}

.css-ywzb36:nth-of-type(1) { /* 선택된 태그 클래스 */
	margin-left: 0px;
}

.css-ywzb36 button { /* 선택된 버튼의 색상 처리 클래스 */
	display: block;
	padding: 4px 12px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	background: rgb(236, 242, 255);
	color: rgb(65, 113, 214);
	box-sizing: border-box;
	height: 28px;
}

.css-1oynv5f span { /* 큐타입 부분 */
	display: inline-block;
	line-height: 10px;
}

.css-1oynv5f span select { /* 큐타입 종류 부분 */
	padding: 4px 24px 4px 12px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 13px;
	font-weight: normal;
	outline: none;
	line-height: 20px;
	background-image: url(https://s-lol-web.op.gg/images/icon/icon-down.svg);
	background-position: right center;
	background-size: initial;
	background-repeat: no-repeat;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: var(--gray0);
	color: var(--gray900);
}

.css-1vfqwrz { /* 쳄피언 검색 부분 */
	height: 28px;
}

.css-1vfqwrz>.search { /* 검색해당 클래스 */
	position: relative;
	width: 168px;
	height: 17px;
	padding: 6px 12px 5px 40px;
	border-radius: 4px;
	background-color: var(--gray200);
}

.css-1vfqwrz>.search input { /* 인풋 태그 정의 */
	display: block;
	width: 100%;
	color: var(--gray900);
	font-size: 12px;
	border: none;
	outline: none;
	background-color: var(--gray200);
}

.css-1vfqwrz>.search img { /* 사용되는 이미지 정의 */
	position: absolute;
	top: 2px;
	left: 8px;
	width: 24px;
	height: 24px;
}

.css-1vfqwrz>.contents { /* ? 정의 불가 */
	position: absolute;
	top: 36px;
	right: 0px;
	display: none;
	width: 440px;
	z-index: 10000001;
	box-shadow: rgb(0 0 0/ 20%) 0px 8px 12px 0px;
	background-color: var(--gray0);
	border-radius: 4px;
}

.css-1vfqwrz>.contents>ul {
	display: table;
	width: 100%;
	font-size: 0px;
	table-layout: fixed;
}

.css-1vfqwrz>.contents>ul>li {
	display: table-cell;
	width: 140px;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: var(--gray200);
	vertical-align: top;
}

.css-1vfqwrz>.contents>ul>li .header {
	line-height: 20px;
	padding: 8px 12px;
	color: var(--gray900);
	font-size: 14px;
}

.css-1vfqwrz>.contents>ul>li .contents {
	height: 366px;
	overflow-y: auto;
}

.css-1vfqwrz>.contents>ul>li .contents li { /* 최근 플레이 부분으로 확인 */
	height: 31px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: var(--gray200);
}

.css-1vfqwrz>.contents>ul>li .contents li button { /* 해당 부분 버튼 */
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 3px 12px;
	max-width: 200px;
	font-size: 12px;
	color: var(--gray900);
	text-decoration: none;
	text-overflow: ellipsis;
	overflow: hidden;
}

.css-1vfqwrz>.contents>ul>li .contents li button>img {
	border-radius: 50%;
	flex-basis: 24px;
}

.css-1vfqwrz>.contents>ul>li .contents li button .champion-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0px 8px;
	box-sizing: border-box;
	flex: 1 1 0%;
}

.css-1vfqwrz>.contents>ul>li .contents li button .all {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 23px;
	margin-right: 8px;
	text-align: center;
	background-color: rgb(83, 131, 232);
	border-radius: 50%;
}

.css-1vfqwrz>.contents>ul>li .contents li button .all img {
	display: block;
	margin: 0px auto;
	height: 100%;
}
/* 메인 부분 최 상단 bar 전체 솔로랭크 자유랭크 큐타입 메뉴 챔피언 검색 부분 마침 */

/* 플레이 총 통계 표시 부분----------------------------------------------- */
.css-3i6n1d {
	display: flex;
	text-align: left;
	background-color: var(--gray0);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 24px 21px;
	box-sizing: border-box;
}

.css-3i6n1d .stats {
	width: 222px;
}

.css-3i6n1d .stats .win-lose { /* 승패 부분 텍스트 부분 */
	line-height: 16px;
	font-size: 12px;
	color: var(--gray500);
}

.css-3i6n1d .stats .kda { /* kda 그래프 부분 */
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 12px;
}

.css-3i6n1d .stats .kda .chart { /* 원형 차트 부분npm install recharts */
	position: relative;
	width: 88px;
	height: 88px;
}

.css-3i6n1d .stats .kda .chart .text { /* 원형 차트 내부 텍스트  */
	position: absolute;
	top: 0px;
	left: 0px;
	width: 88px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	font-size: 14px;
	color: var(--main500);
	font-family: Roboto, sans-serif;
}

.css-3i6n1d .stats .kda .info { /* KDA 해당 텍스트 INFO */
	margin-left: 32px;
}

.css-3i6n1d .stats .kda .info .k-d-a {
	line-height: 16px;
	font-size: 12px;
	color: var(--gray500);
	font-family: Roboto, sans-serif;
}

.css-3i6n1d .stats .kda .info .k-d-a .death {
	color: var(--red600);
}

.css-3i6n1d .stats .kda .info .ratio { /* KDA 통계 */
	margin-top: 2px;
	line-height: 26px;
	font-size: 20px;
	font-weight: bold;
	color: var(--gray900);
	font-family: Roboto, sans-serif;
}

.css-3i6n1d .stats .kda .info .kill-participantion { /* 킬관여 */
	line-height: 16px;
	margin-top: 2px;
	font-size: 12px;
	color: var(--red600);
}

.css-3i6n1d .champions { /* 플레이한 챔피언 */
	width: 222px;
	margin-left: 16px;
}

.css-3i6n1d .champions .title { /* 위 제목 클래스 */
	line-height: 16px;
	font-size: 12px;
	color: var(--gray500);
}

.css-3i6n1d .champions ul { /* 위 차트 UL태그 정의 */
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	height: 88px;
	margin-top: 12px;
}

.css-3i6n1d .champions ul li:nth-of-type(1) {
	margin-top: 0px;
}

.css-3i6n1d .champions ul li {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 8px;
}

.css-3i6n1d .champions ul li img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-right: 8px;
}

.css-3i6n1d .champions ul li .win-lose {
	font-size: 11px;
	color: var(--gray400);
}

.css-1uej4j6 {
	display: inline-block;
	font-size: 11px;
	margin-left: 4px;
	color: var(--blue500);
}

.css-xl4ym {
	display: inline-block;
	font-size: 11px;
	margin-left: 4px;
	color: var(--orange600);
}

.css-3i6n1d .positions { /* 라인 선호도 부분 */
	width: 222px;
	margin-left: 16px;
}

.css-3i6n1d .positions .title { /* 위 클래스 소속 */
	line-height: 16px;
	font-size: 12px;
	color: var(--gray500);
	text-align: center;
}

.css-3i6n1d .positions ul {
	display: flex;
	justify-content: space-around;
	margin-top: 12px;
}

.css-3i6n1d .positions ul li .bar {
	display: flex;
	align-items: flex-end;
	width: 16px;
	height: 64px;
	background-color: var(--gray250);
}

.css-3i6n1d .positions ul li .bar .gauge {
	width: 16px;
	background-color: var(--main500);
}

.css-3i6n1d .positions ul li .position {
	margin-top: 8px;
}

/* 플레이 총 통계 표시 부분 마침------------------------------------------- */

/* 전적(판) 부분 --------------------------------------------*/
.css-164r41r {
	margin-top: 8px;
}

.css-1qq23jn {
	position: relative;
	margin-bottom: 8px;
}

.css-jc3q2t { /* 패배 시 */
	display: flex;
	height: 96px;
	border-radius: 4px;
	border-left-width: 6px;
	border-left-style: solid;
	border-color: var(--red500);
	background-color: var(--red100);
}

.css-jc3q2t .contents { /* 패배 한 판의 기록에 사용되는 클래스 */
	display: flex;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.css-jc3q2t .game-content { /* 게임 내용에 해당하는 클래스 */
	display: flex;
	height: 96px;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px 8px 0px 12px;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.css-jc3q2t .game { /* 무슨 게임인지 나타낼때 사용되는 클래스 */
	width: 108px;
	color: var(--gray500);
	line-height: 16px;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
}

.css-jc3q2t .game .type { /* 게임 졌을때 상황의 게임 모드 표시 클래스 */
	font-weight: bold;
	color: var(--red600);
}

.css-jc3q2t .game .bar { /* 패배한 게임에 사용되는 경계선 클래스 */
	width: 48px;
	height: 1px;
	margin: 8px 0px 4px;
	background-color: var(--red200);
}

.css-jc3q2t .game .result {
	font-weight: bold;
}

.css-jc3q2t .info>div:nth-of-type(1) {
	display: flex;
}

.css-jc3q2t .info>div:nth-of-type(1) .champion {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.css-jc3q2t .info>div:nth-of-type(1) .champion .icon a {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
}

.css-jc3q2t .info>div:nth-of-type(1) .champion .icon img {
	display: block;
	border-radius: 50%;
}

.css-jc3q2t .info>div:nth-of-type(1) .champion .icon .champion-level {
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 11px;
	border-radius: 50%;
	color: rgb(255, 255, 255);
	background: rgb(32, 45, 55);
	font-family: Roboto, sans-serif;
} /*위 부분 은 챔피언 사진 밑 게임 끝날때의 레벨들의 텍스트 밑 이미지 크기 정의 부분  */
.css-jc3q2t .info>div:nth-of-type(1) .champion .spells {
	margin-left: 4px;
} /* 스팰 정의 부분 */
.css-jc3q2t .info>div:nth-of-type(1) .champion .spells .spell:nth-of-type(1)
	{
	width: 22px;
	height: 22px;
	margin-bottom: 2px;
}

.css-jc3q2t .info>div:nth-of-type(1) .champion .spells .spell img {
	display: block;
	border-radius: 4px;
} /* 스펠 이미지 정의 */
.css-jc3q2t .info>div:nth-of-type(1) .champion .runes {
	margin-left: 2px;
} /* 룬 정의 */
.css-jc3q2t .info>div:nth-of-type(1) .champion .runes .rune:nth-of-type(1)
	{
	margin-bottom: 2px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
}

.css-jc3q2t .info>div:nth-of-type(1) .champion .runes .rune img {
	border-radius: 50%;
	display: block;
}

.css-jc3q2t .info>div:nth-of-type(1) .champion .runes .rune {
	width: 22px;
	height: 22px;
}

.css-jc3q2t .info>div:nth-of-type(1) .kda { /* 해당 게임 kda 부분 정의  */
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	width: 107px;
	padding-right: 12px;
	margin-right: 8px;
	margin-left: 12px;
}

.css-jc3q2t .info>div:nth-of-type(1) .kda .k-d-a {
	line-height: 22px;
	font-size: 15px;
	color: var(--gray400);
	font-family: Roboto, sans-serif;
}

.css-jc3q2t .info>div:nth-of-type(1) .kda .k-d-a span {
	font-weight: bold;
	color: var(--gray900);
}

.css-jc3q2t .info>div:nth-of-type(1) .kda .k-d-a .d {
	color: var(--red600); /* 데스 부분 */
}

css-jc3q2t .info>div:nth-of-type(1) .kda .ratio {
	line-height: 16px;
	color: var(--gray500);
} /* 평점 부분 */
.css-jc3q2t .info>div:nth-of-type(1) .kda::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 1px;
	height: 100%;
	background-color: var(--red200);
} /* 경계선 */
.css-jc3q2t .info>div:nth-of-type(1) .stats {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 140px;
	color: var(--gray500);
	font-size: 11px;
} /* 킬관여 ,제어와드 cs 평균티어 부분 */
.css-jc3q2t .info>div:nth-of-type(1) .stats .p-kill {
	color: var(--red600);
} /* 킬관여 정의 */
.css-jc3q2t .info>div:nth-of-type(1) .stats .average-tier {
	font-weight: bold;
	text-transform: capitalize;
	font-family: Roboto, sans-serif;
} /* 평균티어 부분 */
.css-jc3q2t .info>div:nth-of-type(2) {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 8px;
} /* 아이템 부분 */
.css-jc3q2t .info>div:nth-of-type(2) .items {
	display: flex;
}

.css-jc3q2t .info>div:nth-of-type(2) .items ul {
	display: flex;
}

.css-jc3q2t .info>div:nth-of-type(2) .items ul li:nth-of-type(1) {
	margin-left: 0px;
}

.css-jc3q2t .info>div:nth-of-type(2) .items ul li {
	width: 22px;
	height: 22px;
	margin-left: 2px;
	background-color: var(--red300);
	border-radius: 4px;
}

.css-jc3q2t .info>div:nth-of-type(2) .items ul li img {
	border-radius: 4px;
}

.css-jc3q2t .info > div:nth-of-type(2) .multi-kill {
    height: 18px;
    line-height: 18px;
    padding: 0px 8px;
    margin-left: 4px;
    border-radius: 9px;
    background-color: rgb(232, 64, 87);
    color: rgb(255, 255, 255);
} /* 더블킬 등 을 정의 */

.css-jc3q2t .info > div:nth-of-type(2) .ace {
    background-color: var(--purple500);
}

.css-jc3q2t .info > div:nth-of-type(2) .badge {
    height: 18px;
    line-height: 18px;
    padding: 0px 8px;
    margin-left: 4px;
    border-radius: 9px;
    color: rgb(255, 255, 255);
} /* 그 판에서의 에이스 정의 */

.css-jc3q2t .info>div:nth-of-type(2) .items .ward {
	width: 22px;
	height: 22px;
	margin-left: 2px;
	margin-right: 4px;
	background-color: var(--red300);
	border-radius: 50%;
} /* 아이템-와드 부분 */
.css-jc3q2t .participants {
	display: flex;
} /* 해당 판 모든 유저들 부분 */
.css-jc3q2t .participants ul:nth-of-type(1) {
	margin-right: 8px;
}

.css-1ahqe5t { /* 해당 칸 정의 */
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 88px;
	height: 18px;
	text-align: left;
	white-space: nowrap;
}

.css-1ahqe5t .icon { /* 아이콘 정의 */
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.css-1ahqe5t .icon img { /* 이미지 정의 */
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 4px;
}

.css-1ahqe5t .name {
	display: inline-block;
	max-width: 60px;
	vertical-align: middle;
	color: var(--gray500);
} /* 이름 부분 정의 */
.css-1ahqe5t .name a {
	font-size: 12px;
	color: inherit;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
} /* 해당 이름의 크기 밑 색 정의 */
.css-rea7zu {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 88px;
	height: 18px;
	text-align: left;
	white-space: nowrap;
} /* 해당 판의 이 전적의 당사자 부분  */
.css-rea7zu .icon img {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.css-rea7zu .name {
	display: inline-block;
	max-width: 60px;
	vertical-align: middle;
	color: var(--gray900);
}

.css-rea7zu .name a {
	font-size: 12px;
	color: inherit;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.css-jc3q2t .action {
	position: relative;
	width: 40px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
} /* 상세 전적 열기 버튼 */
.css-jc3q2t .action .detail img {
	position: absolute;
	bottom: 8px;
	left: 8px;
	width: 24px;
	height: 24px;
	transform: rotate(0deg);
}

.css-jc3q2t .action .record {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background-color: var(--teal100);
	z-index: 1;
} /* 다시 보기 버튼 정의 */
.css-1shak8a { /* 승리 시 부분 */
	display: flex;
	height: 96px;
	border-radius: 4px;
	border-left-width: 6px;
	border-left-style: solid;
	border-color: var(--main500);
	background-color: var(--main100);
}

.css-1shak8a .contents {
	display: flex;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.css-1shak8a .game-content {
	display: flex;
	height: 96px;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px 8px 0px 12px;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.css-1shak8a .game {
	width: 108px;
	color: var(--gray500);
	line-height: 16px;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
}

.css-1shak8a .game .type {
	font-weight: bold;
	color: var(--main600);
}

.css-1shak8a .game .bar {
	width: 48px;
	height: 1px;
	margin: 8px 0px 4px;
	background-color: var(--main200);
}

.css-1shak8a .game .result {
	font-weight: bold;
}

.css-1shak8a .info>div:nth-of-type(1) {
	display: flex;
}

.css-1shak8a .info>div:nth-of-type(1) .champion {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .icon a {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .icon img {
	display: block;
	border-radius: 50%;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .icon .champion-level {
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 11px;
	border-radius: 50%;
	color: rgb(255, 255, 255);
	background: rgb(32, 45, 55);
	font-family: Roboto, sans-serif;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .spells {
	margin-left: 4px;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .spells .spell:nth-of-type(1)
	{
	width: 22px;
	height: 22px;
	margin-bottom: 2px;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .spells .spell img {
	display: block;
	border-radius: 4px;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .runes {
	margin-left: 2px;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .runes .rune {
	width: 22px;
	height: 22px;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .runes .rune:nth-of-type(1)
	{
	margin-bottom: 2px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
}

.css-1shak8a .info>div:nth-of-type(1) .champion .runes .rune img {
	border-radius: 50%;
	display: block;
}

.css-1shak8a .info>div:nth-of-type(1) .kda {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	width: 107px;
	padding-right: 12px;
	margin-right: 8px;
	margin-left: 12px;
}

.css-1shak8a .info>div:nth-of-type(1) .kda .k-d-a {
	line-height: 22px;
	font-size: 15px;
	color: var(--gray400);
	font-family: Roboto, sans-serif;
}

.css-1shak8a .info>div:nth-of-type(1) .kda .k-d-a span {
	font-weight: bold;
	color: var(--gray900);
}

.css-1shak8a .info>div:nth-of-type(1) .kda .k-d-a .d {
	color: var(--red600);
}

.css-1shak8a .info>div:nth-of-type(1) .kda .ratio {
	line-height: 16px;
	color: var(--gray500);
}

.css-1shak8a .info>div:nth-of-type(1) .kda::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 1px;
	height: 100%;
	background-color: var(--main200);
}

.css-1shak8a .info>div:nth-of-type(1) .stats {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 140px;
	color: var(--gray500);
	font-size: 11px;
}

.css-1shak8a .info>div:nth-of-type(1) .stats .p-kill {
	color: var(--red600);
}

.css-1shak8a .info>div:nth-of-type(1) .stats .average-tier {
	font-weight: bold;
	text-transform: capitalize;
	font-family: Roboto, sans-serif;
}

.css-1shak8a .info>div:nth-of-type(2) {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 8px;
}

.css-1shak8a .info>div:nth-of-type(2) .items {
	display: flex;
}

.css-1shak8a .info>div:nth-of-type(2) .items ul {
	display: flex;
}

.css-1shak8a .info>div:nth-of-type(2) .items ul li {
	width: 22px;
	height: 22px;
	margin-left: 2px;
	background-color: var(--main300);
	border-radius: 4px;
}

.css-1shak8a .info>div:nth-of-type(2) .items ul li:nth-of-type(1) {
	margin-left: 0px;
}

.css-1shak8a .info>div:nth-of-type(2) .items ul li img {
	border-radius: 4px;
}

.css-1shak8a .info>div:nth-of-type(2) .items .ward {
	width: 22px;
	height: 22px;
	margin-left: 2px;
	margin-right: 4px;
	background-color: var(--main300);
	border-radius: 50%;
}

.css-1shak8a .info > div:nth-of-type(2) .multi-kill {
    height: 18px;
    line-height: 18px;
    padding: 0px 8px;
    margin-left: 4px;
    border-radius: 9px;
    background-color: rgb(232, 64, 87);
    color: rgb(255, 255, 255);
}/* 승리시 멀티킬 달성부분 */


.css-1shak8a .info > div:nth-of-type(2) .mvp {
    background-color: var(--yellow500);
}

.css-1shak8a .info > div:nth-of-type(2) .badge {
    height: 18px;
    line-height: 18px;
    padding: 0px 8px;
    margin-left: 4px;
    border-radius: 9px;
    color: rgb(255, 255, 255);
} /* 승리시 mvp 부분 */

.css-1shak8a .info>div:nth-of-type(2) .items .ward img {
	border-radius: 50%;
}

.css-1shak8a .participants {
	display: flex;
}

.css-1shak8a .participants ul:nth-of-type(1) {
	margin-right: 8px;
}

.css-rea7zu {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 88px;
	height: 18px;
	text-align: left;
	white-space: nowrap;
}

.css-rea7zu .icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.css-rea7zu .icon img {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.css-rea7zu .name {
	display: inline-block;
	max-width: 60px;
	vertical-align: middle;
	color: var(--gray900);
}

#__next {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.react-tooltip-lite {
	max-width: 300px;
	background: rgb(0, 0, 0);
}

.react-tooltip-lite {
	max-width: 300px;
	color: rgb(255, 255, 255);
	font-size: 11px;
	background: rgb(28, 30, 30);
}

.react-tooltip-lite-arrow {
	border-color: rgb(0, 0, 0);
}

.react-tooltip-lite-arrow {
	border-color: rgb(28, 30, 30);
}

.css-rea7zu .name a {
	font-size: 12px;
	color: inherit;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.css-1ahqe5t {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 88px;
	height: 18px;
	text-align: left;
	white-space: nowrap;
}

.css-1ahqe5t .icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.css-1ahqe5t .icon img {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 4px;
}

.css-1ahqe5t .name {
	display: inline-block;
	max-width: 60px;
	vertical-align: middle;
	color: var(--gray500);
}

.css-1ahqe5t .name a {
	font-size: 12px;
	color: inherit;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.css-1shak8a .action {
	position: relative;
	width: 40px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
}

.css-1shak8a .action .record {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background-color: var(--teal100);
	z-index: 1;
}

.css-1shak8a .action .detail {
	width: 40px;
	height: 96px;
	background-color: var(--main200);
}

.css-1shak8a .action .detail img {
	position: absolute;
	bottom: 8px;
	left: 8px;
	width: 24px;
	height: 24px;
	transform: rotate(0deg);
}
/* 승리 시 부분 마침 */

/* 다시하기 부분------------------------------- */
.css-1dbudbg {
	display: flex;
	height: 96px;
	border-radius: 4px;
	border-left-width: 6px;
	border-left-style: solid;
	border-color: var(--gray500);
	background-color: var(--gray100);
}

.css-1dbudbg .contents {
	display: flex;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.css-1dbudbg .game-content {
	display: flex;
	height: 96px;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px 8px 0px 12px;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.css-1dbudbg .game {
	width: 108px;
	color: var(--gray500);
	line-height: 16px;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
}

.css-1dbudbg .game .type {
	font-weight: bold;
	color: var(--gray600);
}

.css-1dbudbg .game .bar {
	width: 48px;
	height: 1px;
	margin: 8px 0px 4px;
	background-color: var(--gray200);
}

.css-1dbudbg .game .result {
	font-weight: bold;
}

.css-1dbudbg .info>div:nth-of-type(1) {
	display: flex;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .icon a {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .icon img {
	display: block;
	border-radius: 50%;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .icon .champion-level {
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 11px;
	border-radius: 50%;
	color: rgb(255, 255, 255);
	background: rgb(32, 45, 55);
	font-family: Roboto, sans-serif;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .spells {
	margin-left: 4px;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .spells .spell:nth-of-type(1)
	{
	width: 22px;
	height: 22px;
	margin-bottom: 2px;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .spells .spell img {
	display: block;
	border-radius: 4px;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .runes {
	margin-left: 2px;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .runes .rune:nth-of-type(1)
	{
	margin-bottom: 2px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
}

<
style>.css-1dbudbg .info>div:nth-of-type(1) .champion .runes .rune {
	width: 22px;
	height: 22px;
}

.css-1dbudbg .info>div:nth-of-type(1) .champion .runes .rune img {
	border-radius: 50%;
	display: block;
}

.css-1dbudbg .info>div:nth-of-type(1) .kda {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	width: 107px;
	padding-right: 12px;
	margin-right: 8px;
	margin-left: 12px;
}

.css-1dbudbg .info>div:nth-of-type(1) .kda .k-d-a {
	line-height: 22px;
	font-size: 15px;
	color: var(--gray400);
	font-family: Roboto, sans-serif;
}

.css-1dbudbg .info>div:nth-of-type(1) .kda .k-d-a span {
	font-weight: bold;
	color: var(--gray900);
}

.css-1dbudbg .info>div:nth-of-type(1) .kda .k-d-a .d {
	color: var(--red600);
}

.css-1dbudbg .info>div:nth-of-type(1) .kda .k-d-a span {
	font-weight: bold;
	color: var(--gray900);
}

.css-1dbudbg .info>div:nth-of-type(1) .kda .ratio {
	line-height: 16px;
	color: var(--gray500);
}

.css-1dbudbg .info>div:nth-of-type(1) .kda::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 1px;
	height: 100%;
	background-color: var(--gray200);
}

.css-1dbudbg .info>div:nth-of-type(1) .stats {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 140px;
	color: var(--gray500);
	font-size: 11px;
}

.css-1dbudbg .info>div:nth-of-type(1) .stats .p-kill {
	color: var(--red600);
}

.css-1dbudbg .info>div:nth-of-type(1) .stats .average-tier {
	font-weight: bold;
	text-transform: capitalize;
	font-family: Roboto, sans-serif;
}

.css-1dbudbg .info>div:nth-of-type(2) {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 8px;
}

.css-1dbudbg .info>div:nth-of-type(2) .items {
	display: flex;
}

.css-1dbudbg .info>div:nth-of-type(2) .items ul {
	display: flex;
}

.css-1dbudbg .info>div:nth-of-type(2) .items ul li:nth-of-type(1) {
	margin-left: 0px;
}

.css-1dbudbg .info>div:nth-of-type(2) .items ul li {
	width: 22px;
	height: 22px;
	margin-left: 2px;
	background-color: var(--gray300);
	border-radius: 4px;
}

.css-1dbudbg .info>div:nth-of-type(2) .items ul li img {
	border-radius: 4px;
}

.css-1dbudbg .info>div:nth-of-type(2) .items .ward {
	width: 22px;
	height: 22px;
	margin-left: 2px;
	margin-right: 4px;
	background-color: var(--gray300);
	border-radius: 50%;
}

.css-1dbudbg .info>div:nth-of-type(2) .items .ward img {
	border-radius: 50%;
}

.css-1dbudbg .participants {
	display: flex;
}

.css-1dbudbg .participants ul:nth-of-type(1) {
	margin-right: 8px;
}

.css-1ahqe5t {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 88px;
	height: 18px;
	text-align: left;
	white-space: nowrap;
}

.css-1ahqe5t .icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.css-1ahqe5t .icon img {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 4px;
}

.css-1ahqe5t .name {
	display: inline-block;
	max-width: 60px;
	vertical-align: middle;
	color: var(--gray500);
}

.css-1ahqe5t .name a {
	font-size: 12px;
	color: inherit;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* 다시하기 부분------------------------------- */

/* 전적(판) 부분 마침 --------------------------------------------*/

/* 상세 전적 표시 부분 -메인- 종료 ---------------------------------------*/

/* -----------------------레코드 클래스 제작 마침 부분----------------------------- */