<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lolez.dao.BoardDao">

	<select id="selectBoardList" resultType="board">
		SELECT * FROM BOARDS
		WHERE BSTATE = '0' ORDER BY BDATE DESC
	</select>

	<select id="selectMaxBno" resultType="int">
		SELECT NVL( MAX(BNO),0 )
		FROM BOARDS
	</select>

	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARDS(BNO,
		BTITLE, BWRITER, BCONTENT, BDATE, BHITS, BREC,
		BSTATE, BFILENAME )
		VALUES(#{bno},
		#{btitle}, #{bwriter}, #{bcontent}, SYSDATE, 0, 0, 0, #{bfilename})
	</insert>

	<update id="updateBoardHits" parameterType="int">
		UPDATE BOARDS SET
		BHITS = BHITS + 1 WHERE BNO = #{viewBno}
	</update>
	
	<select id="selectLikeCheck" resultType="String">
		SELECT LNAME FROM BOARDLIKE WHERE LBNO = #{lbno} AND LNAME = #{lname}
	</select>
	
	<insert id="insertBoardLike" parameterType="boardlike">
		INSERT INTO BOARDLIKE(LBNO, LNAME, LSTATE) 
		VALUES(#{lbno}, #{lname}, '0')
	</insert>

	<select id="selectBoardView" resultType="board">
		SELECT * FROM BOARDS WHERE BNO = #{viewBno}
	</select>

	<delete id="deleteBoardLike" parameterType="int">
		DELETE FROM BOARDLIKE 
		WHERE LBNO = #{lbno} AND LNAME = #{lname}
	</delete>
	
	<select id="selectLikeCount" resultType="int">
		SELECT COUNT(*) FROM BOARDLIKE WHERE LBNO = #{lbno}
	</select>
	
	<select id="selectReplyLikeCount" resultType="int">
		SELECT COUNT(*) FROM REPLYLIKE WHERE RLNO = #{rlno}
	</select>
	
	<select id="selectReplyList" resultType="replylike">
		SELECT * FROM REPLYLIKE WHERE RLBNO = #{rlbno} ORDER BY RLNO
	</select>
	
	<select id="selectReplyLikeCheck" resultType="int">
		SELECT RLSTATE FROM REPLYLIKE WHERE RLNO = #{rlno} AND RLNAME = #{loginNickname}
	</select>
	
	<update id="updatePoint" parameterType="int">
		UPDATE MEMBERS SET
		MPOINT = MPOINT + 25 WHERE MNAME = #{bwriter}
	</update>
	
</mapper> 