<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lolez.dao.BoardDao">

	<select id="selectBoardList" resultType="board">
		SELECT * FROM BOARDS
		WHERE BSTATE = '0' ORDER BY BDATE DESC
	</select>

	<select id="selectMaxBno" resultType="int">
		SELECT NVL( MAX(BNO),0 ) FROM BOARDS
	</select>
	
	<select id="selectMaxRno" resultType="int">
		SELECT NVL( MAX(RNO),0 ) FROM REPLYS
	</select>

	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARDS(BNO,
		BTITLE, BWRITER, BCONTENT, BDATE, BHITS, BREC,
		BSTATE, BFILENAME )
		VALUES(#{bno},
		#{btitle}, #{bwriter}, #{bcontent}, SYSDATE, 0, 0, 0, #{bfilename})
	</insert>

	<update id="updateBoardHits" parameterType="int">
		UPDATE BOARDS SET
		BHITS = BHITS + 1 WHERE BNO = #{viewBno}
	</update>
	
	<select id="selectLikeCheck" resultType="String">
		SELECT LNAME FROM BOARDLIKE WHERE LBNO = #{lbno} AND LNAME = #{lname}
	</select>
	
	<insert id="insertBoardLike" parameterType="boardlike">
		INSERT INTO BOARDLIKE(LBNO, LNAME, LSTATE) 
		VALUES(#{lbno}, #{lname}, 1)
	</insert>

	<select id="selectBoardView" resultType="board">
		SELECT * FROM BOARDS WHERE BNO = #{viewBno}
	</select>

	<delete id="deleteBoardLike" parameterType="boardlike">
		DELETE FROM BOARDLIKE 
		WHERE LBNO = #{lbno} AND LNAME = #{lname}
	</delete>
	
	<select id="selectLikeCount" resultType="int">
		SELECT COUNT(*) FROM BOARDLIKE WHERE LBNO = #{lbno}
	</select>
	
	<select id="selectReplyLikeCount" resultType="int">
		SELECT COUNT(*) FROM REPLYLIKE WHERE RLNO = #{rlno}
	</select>
	
	<select id="selectReplyList" resultType="reply">
		SELECT * FROM REPLYS WHERE RBNO = #{rbno} ORDER BY RNO
	</select>
	
	<select id="selectReplyLikeCheck" resultType="String">
		SELECT RLSTATE FROM REPLYLIKE WHERE RLNO = #{rlno} 
		AND RLNAME = #{loginNickname} AND RLBNO = #{rlbno}
	</select>
	
	<update id="updatePoint" parameterType="int">
		UPDATE MEMBERS SET
		MPOINT = MPOINT + 10 WHERE MNAME = #{bwriter}
	</update>
	
	<update id="updateBoard" parameterType="board">
		UPDATE BOARDS SET BTITLE = #{btitle}, BCONTENT = #{bcontent} WHERE BNO = #{bno}
	</update>
	
	<insert id="insertReply" parameterType="reply">
		INSERT INTO REPLYS(RNO, RBNO, RNAME, RCONTENT, RDATE, RSTATE,RREC ) 
		VALUES( #{rno}, #{rbno}, #{rname}, #{rcontent}, SYSDATE, 1, 0 )
	</insert>
	
	<delete id="deleteReply" parameterType="reply">
		DELETE FROM REPLYS WHERE RNO = #{rno} AND RBNO = #{rbno}
	</delete>
	
	<delete id="deletereplylike" parameterType="replylike">
		DELETE FROM REPLYLIKE WHERE RLNO = #{rno} AND RLBNO = #{rbno}
	</delete>
	
	<insert id="insertReplyLike" parameterType="replylike">
		INSERT INTO REPLYLIKE(RLNO, RLNAME, RLBNO, RLSTATE) VALUES( #{rlno}, #{rlname}, #{rlbno}, 1 )
	</insert>
	
	<delete id="deleteReplyLike" parameterType="replylike">
		DELETE FROM REPLYLIKE WHERE RLNO = #{rlno} 
		AND RLNAME = #{rlname} AND RLBNO = #{rlbno}
	</delete>
	
	
</mapper> 